.header {
	padding: 60px 0 50px;
}

.logo {
	display: flex;
	list-style: none;
	justify-content: center;
	margin-bottom: 50px;
}

.nav {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	font-family: $secondary-font-family;

	li {
		display: inline-block;
		vertical-align: top;
		padding: 0 60px;
	}

	a {
		text-decoration: none;
	}
}