$base-font-family: Georgia;
$secondary-font-family: Arial;
$headings-font-family: "Times New Roman", monospace;

$gray: #626262;
$gray-light: #b4ad9e;
$gray-lighter: #f0f0f0;
$red: #ea1313;
$black: #000;

$base-text-color: $gray;
$link-color: $gray;
$link-hover-color: $red;